<nav class="navbar navbar-dark bg-dark">
    <div class="col-md-3" *ngIf="!authService.isAuthenticated()">
        <a class="navbar-brand" href="#"><img src="assets/images/tweety.png"> Tweety</a>
    </div>

    <div class="col-md-3" *ngIf="authService.isAuthenticated()">
        <a class="navbar-brand" href="/tweets"><img src="assets/images/tweety.png"> Tweety</a>
    </div>

    <div class="col-md-4" *ngIf="authService.isAuthenticated()">
        <tweet-modal></tweet-modal>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
</nav>
