
<div class="wrapper fadeInDown" >
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="assets/images/tweety.png"> Tweety
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <input type="text" id="login" class="fadeIn second" [formControlName]="'username'" placeholder="username">
      <input type="password" id="password" class="fadeIn third" [formControlName]="'password'" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Registration -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Register</a>
    </div>

  </div>
</div>
