
<div class="wrapper fadeInDown" >
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="assets/images/tweety.png"> Tweety
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Registration -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Register</a>
    </div>

  </div>
</div>
