<div class="container">
    <div class="card" style="margin-top:15px;" *ngFor="let tweeter of tweeters.data.tweetersList">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <span class="card-text" style="font-size: 20px;font-weight: bold;">Username:</span>
                    <span class="card-text" style="font-size: 20px;">{{tweeter.username}}</span>
                    <span class="card-text" style="font-size: 20px;"> - </span>
                    <span class="card-text" style="font-size: 20px;font-weight: bold;">email:</span>
                    <span class="card-text" style="font-size: 20px;">{{tweeter.email}}</span>
                </div>

                <div class="col-sm">

                    <!-- TODO page with users tweets-->
                    <a class="btn btn-primary"
                       style="margin-left:10px;"
                       [routerLink]="['tweety/tweet/user/',tweeter.user_id]"
                       routerLinkActive="router-link-active"
                    >Check Tweets</a>

                    <a *ngIf="tweeter.is_followed_by_user == true" class="btn btn-outline-danger" style="margin-left:10px;" (click)="subscribe(tweeter.user_id)">-</a>
                    <a *ngIf="tweeter.is_followed_by_user == false" class="btn btn-danger" style="margin-left:10px;" (click)="subscribe(tweeter.user_id)">+</a>
                </div>
            </div>
        </div>

    </div>
</div>